/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea/*
/docker
/app/Data
.env
.env.*
*.jpg
.phpunit.result.cache
docker-compose.override.yml
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
functional.suite.yml
